ul#bookList li div {
	display: inline-block;
	width: 30%;
	text-align: center;
}

ul {
	list-style-type: none;
	width: 600px;
	
}

ul#bookList li  {
		border: 1px solid green;
		padding: 20px;
	
}
.garbage{
	background-image:url(https://ssl.gstatic.com/mail/sprites/general_black-16bf964ab5b51c4b7462e4429bfa7fe8.png);
	background-position-x: 0px;
	background-position-y: -411px;
	height:21px;
	width:21px;
	float:right;
	border:none;
}	
input {
	display:block;
	margin-right:20px;
	border:none;
	background-color:#4285f4;
	font-weight:bold;
	color:white;
	text-align:center;
}
button {
	display:block;
	margin-right:20px;
	border:none;
	

}			
